* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.5);

    height: 10%;
}

.add-book {
    width: min(30vw, 170px);
    
    background-color: #10b981;
    color: #FFF;
    
    font-weight: bold;
    font-size: 1em;

    border: none;
    border-radius: 25px;
    margin-top: 7px;
    padding: 10px;
}

main {
    display: grid;
    
}

.books {
    padding: 30px 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 25px;
    justify-content: center;
    justify-self: center;

    width: 80%;
}

img {
    width: 200px;
}

.book {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    row-gap: 15px;
    justify-self: center;
    
    width: 250px;

    border-radius: 15px;
    padding: 10px;

    background-color: #ffffff4b;
}

.book-info {
    text-align: center;
}

dialog {
    width: 400px;
    height: 600px;

    margin: auto auto;
}

dialog::backdrop {
    background: black;
    opacity: .4;
}

dialog > form > span  {
    display: grid;
    grid-template-columns: 4fr 0;
    align-items: center;
    
    text-align: center;
    font-size: 1.5em;
}

.modal-close {
    justify-self: end;

    width: 30px;
    height: 30px;

    font-size: .8em;
    font-weight: bold;

    background-color: rgb(128, 117, 117);
    color: #FFF;

    border-radius: 20px;
    border: none;
    margin: 10px;
}

dialog > form > ul {
    list-style-type: none;
}

form {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 6fr;
}

ul {
    font-size: 1.2em;

    margin-top: 10px;

    align-self: center;
}

li {
    margin-bottom: 10px;
}

input {
    padding: 5px;
}

