* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.5);

    background-color: #f1f1f1fa;

    height: 10%;
}

.new-book {
    width: min(30vw, 170px);
    
    background-color: #10b981;
    color: #FFF;
    
    font-weight: bold;
    font-size: 1em;

    border: none;
    border-radius: 25px;
    margin-top: 7px;
    padding: 10px;

    cursor: pointer;
}

main {
    display: grid;
}

.books {
    padding: 30px 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 25px;
    justify-content: center;
    justify-self: center;

    width: 80%;
}

img {
    width: 200px;
}

.book {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    width: 250px;
    height: 300px;

    border-radius: 15px;
    padding: 10px;

    background-color: #0000002d;

    font-size: 1.6em;
    font-style: italic;
    overflow: auto;
}

.book-info {
    text-align: center;

    max-height: 250px;
    max-width: 250px;

    margin-bottom: 25px;
}

dialog {
    width: 400px;
    height: 400px;

    margin: auto auto;
}

dialog::backdrop {
    background: black;
    opacity: .4;
}

dialog > span  {
    display: grid;
    grid-template-columns: 4fr 0;
    align-items: center;
    
    text-align: center;
    font-size: 2em;
    font-weight: bold;

    margin-top: 10px;
}

.modal-close {
    justify-self: end;

    width: 30px;
    height: 30px;

    font-size: .6em;
    font-weight: bold;
    text-align: center;

    background-color: rgb(128, 117, 117);
    color: #FFF;

    border-radius: 20px;
    border: none;
    margin-bottom: 5px;
    margin-right: 7px;

    cursor: pointer;
}

dialog > form > ul {
    list-style-type: none;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    font-size: 1.4em;

    padding: 25px;
}

li {
    display: flex;
    margin-bottom: 35px;
}

li:has(input[type="text"]), 
li:has(input[type="number"]) {
    flex-direction: column;
}

li:has(input[type="checkbox"]) {
    justify-content: flex-start;
}

.user-input {
    display: flex;
    justify-content: flex-start;
}

input {
    padding: 5px;
    font-size: .7em;
    
    width: 40vw;

    border: 1px solid;
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.5);
}

input:invalid {
    border-color: red;
}

input:focus:invalid {
    outline: 1px solid rgba(255, 0, 0, 0.5)
}

input[type="number"] {
    width: 40px;
}

input[type="checkbox"] {
    width: 20px;
}

input[type="checkbox"]:focus {
    outline: none;
}

label {
    text-align: left;
    margin-right: 10px;
}

label[for="title"],
label[for="author"] {
    width: 115px;
}

label[for="read"] {
    margin-right: 20px;
}

.submit-book {
    margin: -2em 100px;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;

    background-color: #10b981;
    color: #FFF;

    font-weight: bold;
    font-size: 1.1em;

    cursor: pointer;
}

.read-user-ctrl {
    margin-top: 25px;
    margin-bottom: -5px;
}

.read-toggle {
    scale: 2;
    margin-left: 10px;
}

.remove-book {
    padding: 5px 50px;
    border: none;
    border-radius: 30px;

    background-color: rgba(255, 0, 0, 0.4);
    color: #FFF;

    font-weight: bold;

    cursor: pointer;
}

.error {
    font-size: .7em;
    
    color: red;
}